body{
    background-color: black;
    color: aliceblue;
    display: grid;
    grid-template-columns: auto 800px auto;
}

#mainTitle{
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;
}

#gameWindow{
    width: 800px;
    height: 608px;
    background-color: blue;
    grid-row-start: 2;
    grid-column-start: 2;
    position: relative;
}

#mainCharacter{
    left: 35px;
    top: 125px;

}

#Tree1{
    width: 32px;
    height: 64px;
    left: 495px;
    top: 280px;
    
}


.gameobject{
    position: absolute;
    transition: all 1s ease-out;
    background-color: #fff;
}

.foreGround{
    z-index: 1000;
}

.character{
    z-index: 100;
}

.background{
    z-index: 0;
}